*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2D767F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.Container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #1E6262;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.Container .Left_side {
    position: relative;
    background: #1E6262;
    padding: 40px; 
}
.Profile_text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.Profile_text .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.Profile_text .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Profile_text h2 {
    color: #ECFFFB;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.Profile_text h2 span 
{
    font-size: 0.8em;
    font-weight: 300;
}
.Contact_info
{
    padding-top: 40px;
}
.title
{
    color: #ECFFFB;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.Contact_info ul
{
    position: relative;

}

.Contact_info ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}
.Contact_info ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #2D767F;

}
.Contact_info ul 
{
    position: relative;
}
.Contact_info ul li span
{
    color: #ECFFFB;
    font-weight: 300;
}
.Skills_info 
{
    color: #ECFFFB;
    position: relative;
    font-weight: 300;
    font-size: 18px;
    
    list-style: none;
    padding-top: 50px;
    display: inline-block;
    
}
.Skills_info ul
{
    position: relative;
}

.Skills_info ul li
{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: 1px;
}
.Skills_info ul li span
{
    color: #ECFFFB;
    font-weight: 300;
}


.Container .Right_side {
    position: relative;
    background: #ECFFFB;
    padding: 40px; 
}

.About 
{
    margin-bottom: 50px;
}
.About:last-child
{
    margin-bottom: 0;
}
.title_2
{
    color: #2D767F;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #1E6262;
}
.educ1
{
    margin-top: 50px;
    
}
.educ2
{
    color: #2D767F;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
h3
{
    margin-left: 30px;
    margin-bottom: 10px;
}
h4
{
    margin-left: 40px;
}

.educ2 p
{
    margin-left: 40px;
    margin-top: 20px;
    font-size: small;
    margin-bottom: 30px;
}
